---
---

<header class="mx-auto pt-6 pb-2 max-w-3xl">
    <div class="flex justify-center text-center">
        <img class="rounded-full size-16 grayscale-[50] hover:grayscale-0" src="/img/profile.webp" alt="Profile Picture">
    </div>
    <h1>Fabrizio Rossier</h1>
    <h2>Ingeniero de Software Full Stack</h2>

    <p class="text-sm my-2">Santiago, Chile</p>

    <p class="text-justify px-5">
        Soy una persona apasionada por el diseño y desarrollo de soluciones innovadoras que combinan funcionalidad y eficiencia.
        Me considero observador y analítico, con un enfoque en el trabajo en equipo efectivo, actitud proactiva y capacidad de adaptarme a entornos cambiantes.
        Me concentro en la resolución de problemas de alto impacto mediante la implementación de las mejores tecnologías para cada necesidad, siempre priorizando la calidad y la experiencia del usuario final.
    </p>
</header>

<style>
    h1 {
		font-size: 2rem;
	}
</style>